doctype html
html(ng-app='appirio-tech-messaging')
  head
    title Gulp Tasks Testing

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    = "\n"
    // build:css main.portrait.css media="(min-width: 320px)"
    = "\n"
    link(href="styles/main.portrait.css", rel="stylesheet")
    = "\n"
    link(href="styles/second.portrait.css", rel="stylesheet")
    = "\n"
    // endbuild
    = "\n"

    = "\n"
    // build:css main.landscape.css media="(min-width: 568px)"
    = "\n"
    link(href="styles/main.landscape.css", rel="stylesheet")
    = "\n"
    // endbuild
    = "\n"

    = "\n"
    // build:css main.desktop.css media="(min-width: 767px)"
    = "\n"
    link(href="styles/main.desktop.css", rel="stylesheet")
    = "\n"
    // endbuild
    = "\n"

    title Na na na na na na na na na na na na na na na na... BATMAN!

  body
    include ../app/views/main

    include ../app/views/footer

    = "\n"
    // build:js lib.js
    = "\n"
    script(src="bower_components/react/react.js", type="text/javascript")
    = "\n"
    script(src="bower_components/react/react-dom.js", type="text/javascript")
    = "\n"
    script(src="bower_components/angular/angular.js", type="text/javascript")
    = "\n"
    script(src="bower_components/jquery/dist/jquery.js", type="text/javascript")
    = "\n"
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js", type="text/javascript")
    = "\n"
    // endbuild
    = "\n"

    // removeIf(production)
    script(src="scripts/json-fixtures.js", type="text/javascript")
    // endRemoveIf(production)

    = "\n"
    // build:js app.js
    = "\n"
    script(src="scripts/react.js", type="text/javascript")
    = "\n"
    script(src="scripts/main.module.js", type="text/javascript")
    = "\n"
    script(src="scripts/main.directive.js", type="text/javascript")
    = "\n"
    script(src="scripts/main.service.js", type="text/javascript")
    = "\n"
    script(src="scripts/main.controller.js", type="text/javascript")
    = "\n"
    script(src="scripts/constants.js", type="text/javascript")
    = "\n"
    script(src="scripts/templates.js", type="text/javascript")
    = "\n"
    // endbuild
    = "\n"
